@import 'vars';

html, body {
    margin: 0;
    background-color: $background_color;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

@import 'main';
@import 'github-corner'
