/* Chat */
.message-invalid-fingerprint, .poke-row {
    background-color: #fc0;
    color: #555;
}

.light-gray-bg:not(:hover) {
    background-color: rgba(200, 200, 200, 0.1)
}

/* No border */
.no-border {
    border: none;
}

.no-border-sides {
    border-left: none;
    border-right: none;
}

.no-border-bottom {
    border-bottom: none;
}

/* Custom spinner */
@keyframes spin {
    to {
        -gtk-icon-transform: rotate(1turn);
    }
}

.spin {
    animation: spin 1s linear infinite;
}
