name: Client tests

on:
  push:
    paths:
      - /client
      - /Cargo.*
  pull_request:
    paths:
      - /client
      - /Cargo.*

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt remove clang-6.0 libclang-common-6.0-dev libclang1-6.0 libllvm6.0 -y
        sudo apt install rustc cargo libcairo2-dev libpango1.0-dev libgtk-3-dev libappindicator3-dev libclang-dev llvm clang -y
    - name: Build client
      run: cargo build --bin barium-client
