name: Server tests

on:
  push:
    paths:
      - /server
      - /Cargo.*
      - /shared
  pull_request:
    paths:
      - /server
      - /Cargo.*
      - /shared

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/cache@v1
      with:
        path: target
        key: ${{ runner.os }}-cargo-build-target-${{ hashFiles('**/Cargo.lock') }}

    - name: Install dependencies
      run: |
        sudo apt remove clang-6.0 libclang-common-6.0-dev libclang1-6.0 libllvm6.0 -y
        sudo apt install rustc cargo libcairo2-dev libpango1.0-dev libclang-dev llvm clang -y

    - name: Build server
      run: cargo build --bin barium-server
